<ion-content class="ion-padding">
  <ion-header>
    <ion-header class="ion-no-border pad1"> Users data </ion-header>

    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button
          class="primary"
          fill="solid"
          size="medium"
          (click)="onRefreshClick()"
        >
          {{"reboot users data" | uppercase}}
          <ion-icon slot="end" name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button fill="solid" routerLink="/add-user">
          Add new user
          <ion-icon slot="end" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Controll Buttons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-loading [showBackdrop]="true" [duration]="3000" [hidden]="isUsersLoad">
    <ion-content>
      <ion-item>
        <ion-label>Loading users data...</ion-label>
      </ion-item>
    </ion-content>
  </ion-loading>

  <ion-grid >
    <!-- [hidden]="!(usersDataStream$ | async)?.length" -->
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        *ngFor="let user of combinedUserData"
      >
        <ion-item
          routerLink="/app/tabs/users/user-details/{{user.id}}"
          (click)="selectedUserId(user.id)"
          [disabled]="isRouteOn ? true : null"
        >
          <ion-card [color]="colors | randomColor">
            <ion-card-header>
              <ion-grid>
                <ion-row justify-content-between>
                  <ion-col>
                    <ion-card-title>{{ user.name }}</ion-card-title>
                    <ion-card-subtitle>{{ user.gender }}</ion-card-subtitle>
                  </ion-col>
                  <ion-col-auto>
                    <ion-toolbar>
                      <ion-buttons>
                        <ion-button
                          fill="solid"
                          size="medium"
                          (click)="onDeleteClick($event, user.id)"
                        >
                          <ion-icon
                            class="icon-large"
                            slot="icon-only"
                            name="close"
                          ></ion-icon>
                        </ion-button>
                        <ion-button
                          fill="solid"
                          (click)="onEditUserClick($event, user.id)"
                          size="medium"
                          routerLink="/edit-user/{{user.id}}"
                        >
                          <ion-icon name="pencil-outline"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-col-auto>
                </ion-row>
              </ion-grid>
            </ion-card-header>

            <ion-card-content>
              <ion-img
                class="ion-padding-bottom"
                [src]="user.picture.large"
                style="width: 100px; margin-right: 20px"
              ></ion-img>
              <ion-grid>
                <ion-row>
                  <ion-col size="6"> <ion-text>email: </ion-text></ion-col>
                  <ion-col size="6">
                    <ion-text>{{user.email}}</ion-text></ion-col
                  >
                  <ion-col size="6"> <ion-text>adress: </ion-text></ion-col>
                  <ion-col size="6">
                    <ion-text>{{user.email}}</ion-text></ion-col
                  >
                </ion-row>
              </ion-grid>

              <ion-text> {{user.description}} </ion-text>
            </ion-card-content>

            <ion-item-group class="disable-hover">
              <ion-item (click)="onToggleMoreInfo($event, user.id)"
                >more info?
                <ion-icon name="caret-down-outline"></ion-icon>
              </ion-item>
              <ion-list *ngIf="user.isOpenMoreUserInfo">
                <ion-item>{{user.description}}</ion-item>
              </ion-list>
            </ion-item-group>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-loading [hidden]="isUsersLoad">dddd</ion-loading> -->
</ion-content>
