<ion-content class="ion-padding">
  <ion-header>
    <ion-header class="ion-no-border pad1"> Users data </ion-header>
    <!-- <ion-header>{{ "test_name_here" | translate}}</ion-header>
    <ion-header>{{ "more_tests_with_name" | translate}}</ion-header> -->
    <ion-item>
      <ion-button (click)="onRefreshClick()">
        {{"reboot users data" | uppercase}}
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-header>

  <ion-loading [showBackdrop]="true" [duration]="3000" [hidden]="isUsersLoad">
    <ion-content>
      <ion-item>
        <ion-label>Loading users data...</ion-label>
      </ion-item>
    </ion-content>
  </ion-loading>

  <ion-grid [hidden]="!(usersDataStream$ | async)?.length">
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        *ngFor="let user of usersDataStream$ | async"
      >
        <!-- <ion-col size="12" size-md="6" *ngFor="let user of usersData"> -->
        <ion-item
          routerLink="/app/tabs/users/user-details/{{user.id}}"
          (click)="selectedUserId(user.id)"
        >
          <ion-card [color]="colors | randomColor">
            <ion-card-header>
              <ion-grid>
                <ion-row justify-content-between>
                  <ion-col>
                    <ion-card-title>{{ user.name }}</ion-card-title>
                    <ion-card-subtitle>{{ user.gender }}</ion-card-subtitle>
                  </ion-col>
                  <ion-col-auto>
                    <ion-button
                      fill="clear"
                      (click)="onDeleteClick($event, user.id)"
                    >
                      <ion-icon
                        class="icon-large"
                        slot="icon-only"
                        name="close"
                      ></ion-icon>
                    </ion-button>
                  </ion-col-auto>
                </ion-row>
              </ion-grid>
            </ion-card-header>

            <ion-card-content>
              <ion-img
                [src]="user.picture.large"
                style="width: 100px; margin-right: 20px"
              ></ion-img>

              Card Content Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Sunt facilis at ipsum reiciendis, non totam aliquid
              voluptate tempora dolorum voluptas, consequatur minus eos,
              deleniti ea corporis qui vitae animi quis!
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-loading [hidden]="isUsersLoad">dddd</ion-loading> -->
</ion-content>

<!-- <ion-list>
  <ion-item-sliding *ngFor="let name of listData; let i = index;">
    <ion-item>
      <ion-label>{{name}}</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="primary" (click)="removeItem(i)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addData()" color="secondary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
