<ion-header>
  <ion-toolbar>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="9"> <ion-title> Product List </ion-title></ion-col>
        <ion-col size="3">
          <ion-button (click)="onToggleProps(true)"
            >Add New Product <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onToggleProps(false)"
            ><ion-icon name="chevron-back-outline"></ion-icon> Back</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <search-line
    *ngIf="productsData"
    [dataKeys]="productsData[0]"
    [filteredKeys]="filteredProductKeys"
    (ionInput)="inputOnChange($event)"
  >
  </search-line>

  <form [formGroup]="addProductForm">
    <ion-grid>
      <ion-row>
        <ion-col sizeXl="12" size="12">
          <ion-item>
            <ion-label position="stacked"
              >{{'product_category' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ionic-selectable
              placeholder="{{'select_product_category' | translate}}"
              formControlName="productCategory"
              [items]="productCategoryList"
              itemTextField="name"
              [canSearch]="true"
              [modalCssClass]="'modal-select-desktop'"
              [canClear]="true"
              (onChange)="onProductCategorySelected($event)"
            >
            </ionic-selectable>
          </ion-item>
          <div class="error-container ion-padding-top ion-padding-bottom">
            <ng-container
              *ngFor="let validation of validations.productCategory"
            >
              <div
                *ngIf="addProductForm.get('productCategory').hasError(validation.type) && (addProductForm.get('productCategory').dirty || addProductForm.get('productCategory').touched)"
              >
                <ion-text color="danger" class="text-small"
                  ><ion-icon color="danger" name="warning"></ion-icon>{{
                  validation.message }}</ion-text
                >
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-list *ngIf="productsData && !openAddEditProductForm">
    <ion-item *ngFor="let product of productsData">
      <ion-thumbnail slot="start">
        <img [src]="product.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
      </ion-label>
      <ion-buttons>
        <ion-button (click)="onToggleProps(true)">
          <ion-icon name="brush-outline"></ion-icon>
        </ion-button>
        <ion-button> <ion-icon name="close-outline"></ion-icon></ion-button>
        <ion-button><ion-icon name="cart-outline"></ion-icon> </ion-button>
      </ion-buttons>
      <ion-text class="ion-padding-start"
        >rating {{product.rating.rate}}
        <ion-icon style="color: red" name="star-outline"></ion-icon
      ></ion-text>
    </ion-item>
  </ion-list>

  <div *ngIf="openAddEditProductForm">In products Add & Edit Form</div>
  <!--
  <section *ngIf=" shippingDestinationList.controls.length > 0 ">
    <ion-item
      *ngFor="let dest of shippingDestinationList.controls; let i=index"
      lines="full"
    >
      <ion-label class="ion-text-wrap">
        <h2>{{dest?.value?.name}}</h2>
        <h3>{{dest?.value?.address}}</h3>
        <h3>
          {{dest?.value?.zip}}, {{dest?.value?.city}},
          {{dest?.value?.province}}, {{dest?.value?.country?.name}},
        </h3>
        <p>{{dest?.value?.attention}}, {{dest?.value?.telephone}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="openShippingDestinationModal(dest)">
          <ion-icon class="position-relative" name="pencil"></ion-icon>
        </ion-button>
        <ion-button (click)="openConfirmDeletShippingDestinationAlert(dest,i)">
          <ion-icon
            class="position-relative"
            name="trash"
            color="danger"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </section> -->
</ion-content>
